*{
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body{
    background-color: black;
    color: white;
}
.main{
    margin: .5rem;
    padding: .5rem;
    border: 1px solid white;
    border-radius: .5rem;
}

.main::before{
    content: '';
    background-image: url('./imgs/background-top.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 140vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.main::after{
    content: '';
    background-image: url('./imgs/background-top.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
    height: 140vh;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -1;
    transform: rotate(180deg);
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .title{
    text-align: center;
}

.photo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.info p {
    display: flex;
    align-items: center;
    margin: .5rem;
    font-size: 1.125rem;
}

.info p::before{
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: .5rem;
}

.info .job::before{
    background-image: url('./imgs/user.png');
}

.info .location::before{
    background-image: url('./imgs/location.png');
}

.info .phone::before{
    background-image: url('./imgs/phone.png');
}

.info .email::before{
    background-image: url('./imgs/email.png');
}